@import "../../node_modules/tailwindcss";

:root {
    --background: #FEFEFE;
    --foreground: #171717;
}

@theme inline {
    --font-sans: var(--font-itim);
    --font-mono: var(--font-roboto-mono);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary-100: oklch(0.95 0.049 167.083);
    --color-primary-200: oklch(0.82 0.049 167.083);
    --color-primary-300: oklch(0.65 0.049 167.083);
    --color-primary-400: oklch(0.45 0.049 167.083);
    --color-primary-500: oklch(0.306 0.049 167.083);
    --color-primary-600: oklch(0.24 0.049 167.083);
    --color-primary-700: oklch(0.18 0.049 167.083);
    --color-primary-800: oklch(0.13 0.049 167.083);
    --color-primary-900: oklch(0.09 0.049 167.083);
    --color-primary: var(--color-primary-500);

    --color-secondary-100: oklch(0.95 0.057 155.19);
    --color-secondary-200: oklch(0.82 0.057 155.19);
    --color-secondary-300: oklch(0.65 0.057 155.19);
    --color-secondary-400: oklch(0.55 0.057 155.19);
    --color-secondary-500: oklch(0.482 0.057 155.19);
    --color-secondary-600: oklch(0.38 0.057 155.19);
    --color-secondary-700: oklch(0.28 0.057 155.19);
    --color-secondary-800: oklch(0.18 0.057 155.19);
    --color-secondary-900: oklch(0.1 0.057 155.19);
    --color-secondary: var(--color-secondary-500);

    --color-tertiary-100: oklch(0.97 0.043 129.757);
    --color-tertiary-200: oklch(0.90 0.043 129.757);
    --color-tertiary-300: oklch(0.84 0.043 129.757);
    --color-tertiary-400: oklch(0.80 0.043 129.757);
    --color-tertiary-500: oklch(0.776 0.043 129.757);
    --color-tertiary-600: oklch(0.70 0.043 129.757);
    --color-tertiary-700: oklch(0.60 0.043 129.757);
    --color-tertiary-800: oklch(0.50 0.043 129.757);
    --color-tertiary-900: oklch(0.40 0.043 129.757);
    --color-tertiary: var(--color-tertiary-500);

    /* breakpoints not included by default (as xs:class) */
    --breakpoint-3xs: 16rem;
    --breakpoint-2xs: 18rem;
    --breakpoint-xs: 20rem;
    --breakpoint-3xl: 48rem;
    --breakpoint-4xl: 56rem;
    --breakpoint-5xl: 64rem;
    --breakpoint-6xl: 72rem;
    --breakpoint-7xl: 80rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
}
